<footer>
    JS, Popper.js, and jQuery

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.rtlcss.com/bootstrap/v4.0.0/js/bootstrap.min.js" integrity="sha384-54+cucJ4QbVb99v8dcttx/0JRx4FHMmhOWi4W+xrXpKcsKQodCBwAvu3xxkZAwsH" crossorigin="anonymous"></script>
    <p class="text-center">
      {% if site.github_username %}
      <a itemprop="github" href="https://github.com/{{ site.github_username }}" title="Github">
        <svg><use xlink:href="#icon-github"></use></svg>
      </a>
      {% endif %}
      {% if site.facebook_username %}
      <a itemprop="facebook" href="https://www.facebook.com/{{ site.facebook_username }}" title="Facebook">
        <svg><use xlink:href="#icon-facebook"></use></svg>
      </a>
      {% endif %}
      {% if site.twitter_username %}
      <a itemprop="twitter" href="https://twitter.com/{{ site.twitter_username }}" title="Twitter">
        <svg><use xlink:href="#icon-twitter"></use></svg>
      </a>
      {% endif %}
      {% if site.medium_username %}
      <a itemprop="medium" href="https://medium.com/@{{ site.medium_username }}" title="Twitter">
        <svg><use xlink:href="#icon-medium"></use></svg>
      </a>
      {% endif %}
      {% if site.instagram_username %}
      <a itemprop="instagram" href="https://www.instagram.com/{{ site.instagram_username }}" title="Instagram">
        <svg><use xlink:href="#icon-instagram"></use></svg>
      </a>
      {% endif %}
      {% if site.linkedin_username %}
      <a itemprop="linkedin" href="https://www.linkedin.com/in/{{ site.linkedin_username }}" title="LinkedIn">
        <svg><use xlink:href="#icon-linkedin"></use></svg>
      </a>
      {% endif %}
    </p>
    <ul>
        {% for link in site.links %}
          <li><a href="{{ site.url }}{{ site.baseurl }}{{ link.url }}">{{ link.title }}</a></li>
        {% endfor %}
        <li><a class="feed" href="{{ site.url }}{{site.baseurl}}/feed.xml" title="Atom/RSS feed">خوراک</a></li>
    </ul>
    <p class="text-center"><span>lugs.ir</span> was made with <svg class="love"><use xlink:href="#icon-heart"></use></svg> by <a href="http://www.freetux.ir" target="_blank" class="creator">Hamid saydy</a></p>
</footer>
<script src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"></script>
{% include stats.html %}
