<aside id="sidebar">
    <nav id="navigation">
      <h2>منو</h2>
      <ul dir="rtl">
        {% for link in site.links %}
          <li><a href="{{ site.url }}{{ site.baseurl }}{{ link.url }}">{{ link.title }}</a></li>
        {% endfor %}


{% if page.category == "learnosm" %}
 {% for link in site.osm-links %}
 <li><a href={{link.url}}>{{link.title}}</a></li>
{% endfor %}
{% endif %}

        <li><a class="feed" href="{{ site.url }}{{site.baseurl}}/feed.xml" title="Atom/RSS feed">خوراک</a></li>
      </ul>
    </nav>
</aside>
